.main-slider {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    contain: strict;

    html.js & {
        cursor: grab;

        &:active {
            cursor: grabbing;
        }
    }
}

.main-slide__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;
}
