{
    "parser": "@typescript-eslint/parser",
    "extends": ["airbnb-base", "plugin:@typescript-eslint/recommended", "plugin:react/recommended", "prettier"],
    "env": {
        "browser": true
    },
    "plugins": ["import", "@typescript-eslint", "react", "react-hooks"],
    "rules": {
        "no-console": "off",
        "no-param-reassign": [2, { "props": false }],
        "unicode-bom": ["warn", "never"],
        "max-len": ["warn", 120, 4],
        "indent": ["warn", 4, { "SwitchCase": 1 }],
        "max-lines": [
            "warn",
            {
                "max": 300,
                "skipBlankLines": true
            }
        ],
        "import/order": "off",
        "sort-requires/sort-requires": "off",
        "linebreak-style": "off",
        "no-underscore-dangle": "off",
        "no-plusplus": "off",
        "import/prefer-default-export": "off",
        "@typescript-eslint/camelcase": "off",
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "react/prop-types": "off",
        "import/extensions": "off",
        "class-methods-use-this": "off",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn"
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        },
        "react": {
            "version": "detect",
            "pragma": "h",
            "pragmaFrag": "Fragment"
        }
    }
}
