Allow from all
Options -Indexes -Includes -MultiViews +FollowSymLinks

<IfModule mod_headers.c>
    # Enable rewrite
    RewriteEngine On

    # ---
    # HTML compression
    # ---

    # Serve brotli compressed html files if they exist and the client accepts gzip.
    RewriteCond %{HTTP:Accept-encoding} br
    RewriteCond %{REQUEST_FILENAME}\.br -s
    RewriteRule ^(.*)\.html $1\.html\.br [QSA]

    # Serve gzip compressed html files if they exist and the client accepts gzip.
    RewriteCond %{HTTP:Accept-encoding} gzip
    RewriteCond %{REQUEST_FILENAME}\.gz -s
    RewriteRule ^(.*)\.html $1\.html\.gz [QSA]

    # Serve correct content types, and prevent mod_deflate double gzip.
    RewriteRule \.html\.gz$ - [T=text/html,E=no-gzip:1]
    RewriteRule \.html\.br$ - [T=text/html,E=no-gzip:1]

    <Files *.html.gz>
        # fix content type
        AddType "text/html" .gz
        AddEncoding gzip .gz
        RemoveLanguage .gz
    </Files>
    <Files *.html.br>
        # fix content type
        AddType "text/html" .br
        AddEncoding br .br
        RemoveLanguage .br
    </Files>
    <FilesMatch "(\.html\.gz)$">
        # Serve correct encoding type.
        Header set Content-Encoding gzip
        # Force proxies to cache gzipped & non-gzipped html files separately.
        Header append Vary Accept-Encoding
    </FilesMatch>
    <FilesMatch "(\.html\.br)$">
        # Serve correct encoding type.
        Header set Content-Encoding br
        # Force proxies to cache gzipped & non-gzipped html files separately.
        Header append Vary Accept-Encoding
    </FilesMatch>

    # ---
    # SVG compression
    # ---
    
    # Serve brotli compressed svg files if they exist and the client accepts gzip.
    RewriteCond %{HTTP:Accept-encoding} br
    RewriteCond %{REQUEST_FILENAME}\.br -s
    RewriteRule ^(.*)\.svg $1\.svg\.br [QSA]

    # Serve gzip compressed svg files if they exist and the client accepts gzip.
    RewriteCond %{HTTP:Accept-encoding} gzip
    RewriteCond %{REQUEST_FILENAME}\.gz -s
    RewriteRule ^(.*)\.svg $1\.svg\.gz [QSA]

    # Serve correct content types, and prevent mod_deflate double gzip.
    RewriteRule \.svg\.gz$ - [T=image/svg+xml,E=no-gzip:1]
    RewriteRule \.svg\.br$ - [T=image/svg+xml,E=no-gzip:1]

    <Files *.svg.gz>
        # fix content type
        AddType "image/svg+xml" .gz
        AddEncoding gzip .gz
        RemoveLanguage .gz
    </Files>
    <Files *.svg.br>
        # fix content type
        AddType "image/svg+xml" .br
        AddEncoding br .br
        RemoveLanguage .br
    </Files>
    <FilesMatch "(\.svg\.gz)$">
        # Serve correct encoding type.
        Header set Content-Encoding gzip
        # Force proxies to cache gzipped & non-gzipped svg files separately.
        Header append Vary Accept-Encoding
    </FilesMatch>
    <FilesMatch "(\.svg\.br)$">
        # Serve correct encoding type.
        Header set Content-Encoding br
        # Force proxies to cache gzipped & non-gzipped svg files separately.
        Header append Vary Accept-Encoding
    </FilesMatch>
</IfModule>