@chipsadesign:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=omJFAuSbYL8LDf-PYKxT
//gitlab.com/api/v4/projects/16245492/packages/npm/:_authToken=omJFAuSbYL8LDf-PYKxT