---
title: Text Basic
description:
og_image:
---

{% extends "partials/layouts/default.html" %}

{% block content %}

<h1 class="visually-hidden">Text basic</h1>
<canvas class="canvas js-canvas" data-experiment="text-basic"></canvas>
<span class="text js-gl-text">hello</span>
<span class="text-2 js-gl-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi libero molestias earum rerum aliquid laborum, dolorem iure odio officiis quod, quasi labore exercitationem harum, sed possimus cum magnam perspiciatis! At?</span>

{% endblock %}