{% macro responsive_img (
    url,
    attrs={},
    img_attrs={},
    formats=[],
    sources={},
    quality=90,
    lazy=false,
    generate_defaults=true
) %}
    <picture{% for k, v in attrs %} {{ k }}="{{ v }}"{% endfor %}>
        {% set dimensions = image_size(url) %}

        {% set src_attr %}
            {% if lazy === true %}
                data-src
            {% else %}
                src
            {% endif %}
        {% endset %}

        {% set srcset_attr %}
            {% if lazy === true %}
                data-srcset
            {% else %}
                srcset
            {% endif %}
        {% endset %}

        {% for format in formats %}
            {% for media, img_width in sources %}
                <source media="{{ media }}" {{ srcset_attr }}="{{ require(url + '?resize=' + img_width + '&quality=' + quality + '&format=' + format) }}" type="image/{{ format }}">
            {% endfor %}
            {% if generate_defaults %}
                <source {{ srcset_attr }}="{{ require(url + '?resize=&quality=' + quality + '&format=' + format) }}" type="image/{{ format }}">
            {% endif %}
        {% endfor %}
        {% for media, img_width in sources %}
            <source media="{{ media }}" {{ srcset_attr }}="{{ require(url + '?resize=' + img_width + '&quality=' + quality) }}">
        {% endfor %}
        <img 
            alt=""
            {{ src_attr }}="{{ img_attrs.src or require(url + '?resize=&quality=' + quality) }}"
            {% for k, v in img_attrs %} {{ k }}="{{ v }}"{% endfor %}
            width="{{ dimensions.width }}"
            height="{{ dimensions.height }}"
            {% if lazy === 'native' %}loading="lazy"{% endif %}
        >
    </picture>
{% endmacro %}