---
title: Distortion 2
description:
og_image:
---

{% extends "partials/layouts/default.html" %}

{% block content %}

<h1 class="visually-hidden">Distortion 2</h1>

 {{ responsive_img(
    url='/img/sliders/1/sliders-1-5.jpg',
    img_attrs={ class: "img-fluid distortions-img distort" },
    formats=['webp'],
    generate_defaults=false,
    sources={
        '(min-width: 1px)': 500
    }
) }}

<svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="position:absolute;pointer-events:none;">
    <defs>
        <filter id="squiggly-0">
            <feTurbulence baseFrequency="0.02" numOctaves="3" result="noise" seed="0"/>
            <feDisplacementMap id="displacement" in="SourceGraphic" in2="noise" scale="6"/>
        </filter>
        <filter id="squiggly-1">
            <feTurbulence baseFrequency="0.02" numOctaves="3" result="noise" seed="1"/>
            <feDisplacementMap in="SourceGraphic" in2="noise" scale="8"/>
        </filter>
        <filter id="squiggly-2">
            <feTurbulence baseFrequency="0.02" numOctaves="3" result="noise" seed="2"/>
            <feDisplacementMap in="SourceGraphic" in2="noise" scale="6"/>
        </filter>
        <filter id="squiggly-3">
            <feTurbulence baseFrequency="0.02" numOctaves="3" result="noise" seed="3"/>
            <feDisplacementMap in="SourceGraphic" in2="noise" scale="8"/>
        </filter>
        <filter id="squiggly-4">
            <feTurbulence baseFrequency="0.02" numOctaves="3" result="noise" seed="4"/>
            <feDisplacementMap in="SourceGraphic" in2="noise" scale="6"/>
        </filter>
    </defs>
</svg>
{# <canvas class="canvas js-canvas" data-experiment="particles-basic"></canvas> #}

{% endblock %}