<!DOCTYPE html>
<html class="no-js" lang="{{ APP.LANGUAGE }}">
<head>
    <meta charset="utf-8">
    <title>{{ PAGE.title }} — {{ APP.TITLE }}</title>
    <meta name="description" content="{{ PAGE.description or APP.DESCRIPTION }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if not APP.USE_FAVICONS %}
    <link rel="shortcut icon" href="{{ APP.PUBLIC_PATH }}img/favicon/favicon.ico">
    {% endif %}

    {% include 'partials/webp-test.html' %}

    {% block head %}{% endblock %}

    {% include 'partials/open-graph.html' %}
</head>
<body>
    {% include 'partials/header.html' %}

    <main data-barba="wrapper" class="main">
        <div data-barba="container" data-barba-namespace="{{ PAGE.namespace }}">
            {% block content %}{% endblock %}
        </div>
    </main>

    {% include 'partials/footer.html' %}
    {% include 'partials/service-worker.html' %}
</body>
</html>
