{% from 'partials/macros/responsive.html' import responsive_img %}

<!DOCTYPE html>
<html class="no-js" lang="{{ APP.LANGUAGE }}">
    <head>
        <meta charset="utf-8">
        <title>{{ PAGE.title }} — {{ APP.TITLE }}</title>
        <meta name="description" content="{{ PAGE.description or APP.DESCRIPTION }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% if not APP.USE_FAVICONS %}
            <link rel="shortcut icon" href="{{ APP.PUBLIC_PATH }}img/favicon/favicon.ico">
        {% endif %}

        {% include 'partials/webp-test.html' %}

        {% block head %}{% endblock %}

        {% include 'partials/open-graph.html' %}
    </head>
    <body>
        {% include 'partials/header.html' %}

        <main class="main">
            {% block content %}{% endblock %}
        </main>

        {% include 'partials/footer.html' %}

        <x-cookies-agreement reveal-timeout="3000">
            Продолжая пользоваться сайтом, вы даёте
            <a
                href="#"
                class="link-underline"
                target="_blank"
                rel="noopener"
                aria-label="Согласие на автоматический сбор и анализ ваших данных"
                >Согласие</a
            >
            на автоматический сбор и анализ ваших данных, необходимых для работы сайта и его улучшения,
            использование файлов cookie.
        </x-cookies-agreement>
    </body>
</html>