.is-error {
    color: $danger;
    border: 2px solid currentColor;

    + .app-message {
        color: $danger;
    }
}

.is-success {
    color: $success;
    border: 2px solid currentColor;

    + .app-message {
        color: $success;
    }
}

.app-message {
    display: block;
    line-height: 1.2;
    min-height: 1.2em;
    margin: 0.4em 0;
}
