{
    "presets": [
        [
            "@babel/preset-typescript",
            {
                "jsxPragma": "h",
                "pragmaFrag": "Fragment",
                "isTSX": true,
                "allExtensions": true
            }
        ]
    ]
}
