@import '../../../css/base/variables';
@import '../../../css/utils/mixins';

.banner {
    position: fixed;
    z-index: 150;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    max-width: 570px;
    background-color: #fff;
    padding: 15px;
    padding-bottom: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    border: 1px solid $black;
    contain: content;

    &:not(.banner--visible) {
        opacity: 0;
        visibility: hidden;
    }

    @media screen and (max-width: 767px) {
        bottom: auto;
        left: 0;
        transform: none;
        max-width: 100%;
        padding: 20px;
        padding-top: 15px;
        border-radius: 0;
    }
}

.banner__close {
    @include clickable();
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    margin-left: auto;
    align-self: flex-end;

    @media screen and (max-width: 767px) {
        width: 34px;
        height: 34px;
        padding: 5px;
        position: relative;
        right: -5px;
    }

    @mixin hover() {
        path {
            stroke: $secondary;
        }
    }

    &:focus-visible {
        @include hover();
    }

    @media (pointer: fine), (min-width: 1025px) {
        &:hover {
            @include hover();
        }
    }

    path {
        transition: stroke 0.2s ease;
    }
}

.banner__text {
    padding: 0 35px;

    @media screen and (max-width: 767px) {
        padding: 0;
    }
}
